node-red-flow.json
[{
    "id": "b0e01f57.eabd2",
    "type": "tab",
    "label": "Paladins",
    "disabled": false,
    "info": ""
}, {
    "id": "15c3d15c.0739ff",
    "type": "chatbot-telegram-receive",
    "z": "b0e01f57.eabd2",
    "bot": "4c2b48e1.4a0c88",
    "botProduction": "4c2b48e1.4a0c88",
    "x": 190,
    "y": 140,
    "wires": [
        ["2ccfed9d.1a9982", "24d73849.055648"]
    ]
}, {
    "id": "223f3188.12174e",
    "type": "chatbot-telegram-send",
    "z": "b0e01f57.eabd2",
    "bot": "4c2b48e1.4a0c88",
    "botProduction": "4c2b48e1.4a0c88",
    "track": false,
    "passThrough": false,
    "outputs": 0,
    "x": 1130,
    "y": 140,
    "wires": []
}, {
    "id": "34744207.dcfe0e",
    "type": "link in",
    "z": "b0e01f57.eabd2",
    "name": "Paladins OUT",
    "links": ["f133fd59.2d68e", "75eea13f.449ca", "c0bdbb72.de4138", "6b7ae538.4b576c", "9864bfc.3ea494", "382b0f89.1e732", "61246121.70651", "ddf002c1.1967", "4101669e.b13978"],
    "x": 975,
    "y": 140,
    "wires": [
        ["223f3188.12174e"]
    ]
}, {
    "id": "448ec8a6.46d148",
    "type": "switch",
    "z": "b0e01f57.eabd2",
    "name": "Paladins",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [{
        "t": "eq",
        "v": "message",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "inline-query",
        "vt": "str"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 320,
    "y": 280,
    "wires": [
        ["d1a8d142.d31e4"],
        []
    ]
}, {
    "id": "d1a8d142.d31e4",
    "type": "chatbot-command",
    "z": "b0e01f57.eabd2",
    "name": "",
    "command": "/player",
    "x": 470,
    "y": 260,
    "wires": [
        ["ec19caf2.931998", "50abc62.2781338", "6ab2785b.abfac8"]
    ]
}, {
    "id": "ec19caf2.931998",
    "type": "function",
    "z": "b0e01f57.eabd2",
    "name": "Get Paladins Username",
    "func": "var arg = msg.payload.arguments[0];\nvar chatId = msg.payload.chatId\nif(arg) {\n    msg.payload = 'python3 /root/paladins/send_player_basic.py ' + chatId + ' ' + arg;\n}\nelse {\n    msg.payload = 'python3 /root/paladins/send_player_basic.py ' + chatId\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 690,
    "y": 340,
    "wires": [
        ["4ff712e5.3c384c"]
    ]
}, {
    "id": "4ff712e5.3c384c",
    "type": "exec",
    "z": "b0e01f57.eabd2",
    "command": "",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Paladins Player Script Call",
    "x": 960,
    "y": 340,
    "wires": [
        [],
        ["ddcb715a.583a5"],
        []
    ]
}, {
    "id": "3f27593a.547a36",
    "type": "link in",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["2ccfed9d.1a9982"],
    "x": 175,
    "y": 280,
    "wires": [
        ["448ec8a6.46d148"]
    ]
}, {
    "id": "ddcb715a.583a5",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1170,
    "y": 340,
    "wires": []
}, {
    "id": "2ccfed9d.1a9982",
    "type": "link out",
    "z": "b0e01f57.eabd2",
    "name": "Paladins IN",
    "links": ["3f27593a.547a36", "c67c7c6f.2ab3c", "e8cf0d39.28a8c", "fc14b3a6.9e0e5", "5530e33e.5033bc", "b9c65c4f.13307", "c5be077a.58fad8", "ed8f35b.cdb89c8"],
    "x": 375,
    "y": 140,
    "wires": []
}, {
    "id": "c67c7c6f.2ab3c",
    "type": "link in",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["2ccfed9d.1a9982"],
    "x": 435,
    "y": 140,
    "wires": [
        ["aeda2c3a.e2774", "305471d8.da588e"]
    ]
}, {
    "id": "75eea13f.449ca",
    "type": "link out",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["34744207.dcfe0e"],
    "x": 855,
    "y": 140,
    "wires": []
}, {
    "id": "aeda2c3a.e2774",
    "type": "chatbot-command",
    "z": "b0e01f57.eabd2",
    "name": "",
    "command": "/start",
    "x": 550,
    "y": 120,
    "wires": [
        ["728b6554.0c805c"]
    ]
}, {
    "id": "728b6554.0c805c",
    "type": "chatbot-message",
    "z": "b0e01f57.eabd2",
    "name": "Start Message",
    "message": [{
        "message": "==*Welcome to Paladins Data Bot*==\n\nI can be used to get a ton of information on your Paladins gameplays. \n\nHit up /help for more info."
    }],
    "answer": false,
    "x": 700,
    "y": 120,
    "wires": [
        ["75eea13f.449ca"]
    ]
}, {
    "id": "305471d8.da588e",
    "type": "chatbot-command",
    "z": "b0e01f57.eabd2",
    "name": "",
    "command": "/help",
    "x": 550,
    "y": 160,
    "wires": [
        ["5c8928f.29862d8"]
    ]
}, {
    "id": "5c8928f.29862d8",
    "type": "chatbot-message",
    "z": "b0e01f57.eabd2",
    "name": "Start Message",
    "message": [{
        "message": "==*Here's a bunch of things I can do*==\n /help - This message"
    }],
    "answer": false,
    "x": 700,
    "y": 160,
    "wires": [
        ["75eea13f.449ca"]
    ]
}, {
    "id": "50abc62.2781338",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 650,
    "y": 260,
    "wires": []
}, {
    "id": "24d73849.055648",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 418,
    "y": 69,
    "wires": []
}, {
    "id": "82bf9347.414f8",
    "type": "switch",
    "z": "b0e01f57.eabd2",
    "name": "Paladins",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [{
        "t": "eq",
        "v": "message",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "inline-query",
        "vt": "str"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 280,
    "y": 420,
    "wires": [
        ["7f039db3.57c7b4"],
        []
    ]
}, {
    "id": "7f039db3.57c7b4",
    "type": "chatbot-command",
    "z": "b0e01f57.eabd2",
    "name": "",
    "command": "/api",
    "x": 430,
    "y": 400,
    "wires": [
        ["91482cda.5771a", "cd8352a1.5edcf", "301c4f34.f796"]
    ]
}, {
    "id": "91482cda.5771a",
    "type": "function",
    "z": "b0e01f57.eabd2",
    "name": "Get Paladins Username",
    "func": "var chatId = msg.payload.chatId\nmsg.payload = 'python3 /root/paladins/send_api_usage.py ' + chatId;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 650,
    "y": 480,
    "wires": [
        ["e50fa016.a3bd5"]
    ]
}, {
    "id": "e50fa016.a3bd5",
    "type": "exec",
    "z": "b0e01f57.eabd2",
    "command": "",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Paladins Player Script Call",
    "x": 920,
    "y": 480,
    "wires": [
        [],
        ["8a4443d0.d6b15"],
        []
    ]
}, {
    "id": "e8cf0d39.28a8c",
    "type": "link in",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["2ccfed9d.1a9982"],
    "x": 175,
    "y": 420,
    "wires": [
        ["82bf9347.414f8"]
    ]
}, {
    "id": "8a4443d0.d6b15",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1130,
    "y": 480,
    "wires": []
}, {
    "id": "cd8352a1.5edcf",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 610,
    "y": 400,
    "wires": []
}, {
    "id": "7e00fa74.1190a4",
    "type": "switch",
    "z": "b0e01f57.eabd2",
    "name": "Paladins",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [{
        "t": "eq",
        "v": "message",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "inline-query",
        "vt": "str"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 260,
    "y": 580,
    "wires": [
        ["73c8d581.22803c"],
        []
    ]
}, {
    "id": "73c8d581.22803c",
    "type": "chatbot-command",
    "z": "b0e01f57.eabd2",
    "name": "",
    "command": "/champs",
    "x": 420,
    "y": 560,
    "wires": [
        ["80e81d1a.bf8", "aa510c15.ca2e8", "9f58c188.dd338", "cd773df3.48ebb"]
    ]
}, {
    "id": "80e81d1a.bf8",
    "type": "function",
    "z": "b0e01f57.eabd2",
    "name": "Get Paladins Username",
    "func": "var player = msg.payload.arguments[0];\nvar champ = msg.payload.arguments[1];\nvar chatId = msg.payload.chatId\nif(player && champ) {\n    msg.payload = 'python3 /root/paladins/send_champion_details.py ' + chatId + ' ' + player + ' ' + champ;\n}\nelse {\n    if(player != \"Undefined\") {\n        msg.payload = 'python3 /root/paladins/send_champion_details.py ' + chatId + ' ' + player\n    }\n    else {\n        msg.payload = 'python3 /root/paladins/send_champion_details.py ' + chatId\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 650,
    "y": 640,
    "wires": [
        ["afb1a8b9.728178"]
    ]
}, {
    "id": "afb1a8b9.728178",
    "type": "exec",
    "z": "b0e01f57.eabd2",
    "command": "",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Paladins Player Script Call",
    "x": 920,
    "y": 640,
    "wires": [
        [],
        ["5cffd01f.58c6"],
        []
    ]
}, {
    "id": "fc14b3a6.9e0e5",
    "type": "link in",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["2ccfed9d.1a9982"],
    "x": 155,
    "y": 580,
    "wires": [
        ["7e00fa74.1190a4"]
    ]
}, {
    "id": "5cffd01f.58c6",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1130,
    "y": 640,
    "wires": []
}, {
    "id": "aa510c15.ca2e8",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 610,
    "y": 560,
    "wires": []
}, {
    "id": "6ab2785b.abfac8",
    "type": "chatbot-waiting",
    "z": "b0e01f57.eabd2",
    "waitingType": "",
    "x": 640,
    "y": 300,
    "wires": [
        ["c0bdbb72.de4138"]
    ]
}, {
    "id": "c0bdbb72.de4138",
    "type": "link out",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["34744207.dcfe0e"],
    "x": 735,
    "y": 300,
    "wires": []
}, {
    "id": "301c4f34.f796",
    "type": "chatbot-waiting",
    "z": "b0e01f57.eabd2",
    "waitingType": "",
    "x": 600,
    "y": 440,
    "wires": [
        ["6b7ae538.4b576c"]
    ]
}, {
    "id": "6b7ae538.4b576c",
    "type": "link out",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["34744207.dcfe0e"],
    "x": 695,
    "y": 440,
    "wires": []
}, {
    "id": "9f58c188.dd338",
    "type": "chatbot-waiting",
    "z": "b0e01f57.eabd2",
    "waitingType": "",
    "x": 600,
    "y": 600,
    "wires": [
        ["9864bfc.3ea494"]
    ]
}, {
    "id": "9864bfc.3ea494",
    "type": "link out",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["34744207.dcfe0e"],
    "x": 695,
    "y": 600,
    "wires": []
}, {
    "id": "28fda105.5ee52e",
    "type": "switch",
    "z": "b0e01f57.eabd2",
    "name": "Paladins",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [{
        "t": "eq",
        "v": "message",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "inline-query",
        "vt": "str"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 260,
    "y": 740,
    "wires": [
        ["1e0177a1.4e1ad8"],
        []
    ]
}, {
    "id": "1e0177a1.4e1ad8",
    "type": "chatbot-command",
    "z": "b0e01f57.eabd2",
    "name": "",
    "command": "/lastmatch",
    "x": 430,
    "y": 720,
    "wires": [
        ["a246ab29.d28738", "e3ddd080.1c262", "1fddee16.bad152"]
    ]
}, {
    "id": "a246ab29.d28738",
    "type": "function",
    "z": "b0e01f57.eabd2",
    "name": "Get Paladins Username",
    "func": "var player = msg.payload.arguments[0];\nvar chatId = msg.payload.chatId\n\nmsg.payload = 'python3 /root/paladins/send_last_match.py ' + chatId + ' ' + player;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 650,
    "y": 800,
    "wires": [
        ["69a49fac.5c95b"]
    ]
}, {
    "id": "69a49fac.5c95b",
    "type": "exec",
    "z": "b0e01f57.eabd2",
    "command": "",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Paladins Player Script Call",
    "x": 920,
    "y": 800,
    "wires": [
        [],
        ["f6ed6394.fb155"],
        []
    ]
}, {
    "id": "5530e33e.5033bc",
    "type": "link in",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["2ccfed9d.1a9982"],
    "x": 155,
    "y": 740,
    "wires": [
        ["28fda105.5ee52e"]
    ]
}, {
    "id": "f6ed6394.fb155",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1130,
    "y": 800,
    "wires": []
}, {
    "id": "e3ddd080.1c262",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 610,
    "y": 720,
    "wires": []
}, {
    "id": "1fddee16.bad152",
    "type": "chatbot-waiting",
    "z": "b0e01f57.eabd2",
    "waitingType": "",
    "x": 600,
    "y": 760,
    "wires": [
        ["382b0f89.1e732"]
    ]
}, {
    "id": "382b0f89.1e732",
    "type": "link out",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["34744207.dcfe0e"],
    "x": 695,
    "y": 760,
    "wires": []
}, {
    "id": "cd773df3.48ebb",
    "type": "function",
    "z": "b0e01f57.eabd2",
    "name": "Get Paladins Username",
    "func": "var player = msg.payload.arguments[0];\nmsg.payload.player = player;\nreturn msg.payload;",
    "outputs": 1,
    "noerr": 0,
    "x": 850,
    "y": 600,
    "wires": [
        ["ccd810b5.96e5b"]
    ]
}, {
    "id": "ccd810b5.96e5b",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 1050,
    "y": 600,
    "wires": []
}, {
    "id": "62df9803.40c148",
    "type": "switch",
    "z": "b0e01f57.eabd2",
    "name": "Paladins",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [{
        "t": "eq",
        "v": "message",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "inline-query",
        "vt": "str"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 260,
    "y": 920,
    "wires": [
        ["3fc21cda.732614"],
        []
    ]
}, {
    "id": "3fc21cda.732614",
    "type": "chatbot-command",
    "z": "b0e01f57.eabd2",
    "name": "",
    "command": "/topchamps",
    "x": 430,
    "y": 900,
    "wires": [
        ["cc081b22.5f5ad8", "d231614d.7759", "237dbc79.1aa434"]
    ]
}, {
    "id": "cc081b22.5f5ad8",
    "type": "function",
    "z": "b0e01f57.eabd2",
    "name": "Get Paladins Username",
    "func": "var player = msg.payload.arguments[0];\nvar chatId = msg.payload.chatId\n\nmsg.payload = 'python3 /root/paladins/send_top_five_champs.py ' + chatId + ' ' + player;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 650,
    "y": 980,
    "wires": [
        ["52a87343.71725c"]
    ]
}, {
    "id": "52a87343.71725c",
    "type": "exec",
    "z": "b0e01f57.eabd2",
    "command": "",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Paladins Player Script Call",
    "x": 920,
    "y": 980,
    "wires": [
        [],
        ["cd53c24c.adddf"],
        []
    ]
}, {
    "id": "b9c65c4f.13307",
    "type": "link in",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["2ccfed9d.1a9982"],
    "x": 155,
    "y": 920,
    "wires": [
        ["62df9803.40c148"]
    ]
}, {
    "id": "cd53c24c.adddf",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1130,
    "y": 980,
    "wires": []
}, {
    "id": "d231614d.7759",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 610,
    "y": 900,
    "wires": []
}, {
    "id": "237dbc79.1aa434",
    "type": "chatbot-waiting",
    "z": "b0e01f57.eabd2",
    "waitingType": "",
    "x": 600,
    "y": 940,
    "wires": [
        ["61246121.70651"]
    ]
}, {
    "id": "61246121.70651",
    "type": "link out",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["34744207.dcfe0e"],
    "x": 695,
    "y": 940,
    "wires": []
}, {
    "id": "12775db2.9c9cf2",
    "type": "switch",
    "z": "b0e01f57.eabd2",
    "name": "Paladins",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [{
        "t": "eq",
        "v": "message",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "inline-query",
        "vt": "str"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 260,
    "y": 1100,
    "wires": [
        ["b77867c0.2b36b8"],
        []
    ]
}, {
    "id": "b77867c0.2b36b8",
    "type": "chatbot-command",
    "z": "b0e01f57.eabd2",
    "name": "",
    "command": "/lastfivematches",
    "x": 440,
    "y": 1080,
    "wires": [
        ["d48dd0e3.30e2b", "b96ff4c1.f4f718", "4e40344.152fdcc"]
    ]
}, {
    "id": "d48dd0e3.30e2b",
    "type": "function",
    "z": "b0e01f57.eabd2",
    "name": "Get Paladins Username",
    "func": "var player = msg.payload.arguments[0];\nvar chatId = msg.payload.chatId\n\nmsg.payload = 'python3 /root/paladins/send_last_five_matches.py ' + chatId + ' ' + player;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 670,
    "y": 1160,
    "wires": [
        ["ac3cb79f.e62558"]
    ]
}, {
    "id": "ac3cb79f.e62558",
    "type": "exec",
    "z": "b0e01f57.eabd2",
    "command": "",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Paladins Player Script Call",
    "x": 940,
    "y": 1160,
    "wires": [
        [],
        ["1c06aceb.ec4b43"],
        []
    ]
}, {
    "id": "c5be077a.58fad8",
    "type": "link in",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["2ccfed9d.1a9982"],
    "x": 155,
    "y": 1100,
    "wires": [
        ["12775db2.9c9cf2"]
    ]
}, {
    "id": "1c06aceb.ec4b43",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1150,
    "y": 1160,
    "wires": []
}, {
    "id": "b96ff4c1.f4f718",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 630,
    "y": 1080,
    "wires": []
}, {
    "id": "4e40344.152fdcc",
    "type": "chatbot-waiting",
    "z": "b0e01f57.eabd2",
    "waitingType": "",
    "x": 620,
    "y": 1120,
    "wires": [
        ["ddf002c1.1967"]
    ]
}, {
    "id": "ddf002c1.1967",
    "type": "link out",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["34744207.dcfe0e"],
    "x": 715,
    "y": 1120,
    "wires": []
}, {
    "id": "25d5b897.adb7c8",
    "type": "switch",
    "z": "b0e01f57.eabd2",
    "name": "Paladins",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [{
        "t": "eq",
        "v": "message",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "inline-query",
        "vt": "str"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 260,
    "y": 1280,
    "wires": [
        ["8070995.4fbbd68"],
        []
    ]
}, {
    "id": "8070995.4fbbd68",
    "type": "chatbot-command",
    "z": "b0e01f57.eabd2",
    "name": "",
    "command": "/sendmatch",
    "x": 430,
    "y": 1260,
    "wires": [
        ["a3c1db1c.833808", "b7d0580.fc447a8", "4857995.b84c568"]
    ]
}, {
    "id": "a3c1db1c.833808",
    "type": "function",
    "z": "b0e01f57.eabd2",
    "name": "Get Paladins Username",
    "func": "var chatId = msg.payload.chatId\nvar player = msg.payload.arguments[0];\nvar match = msg.payload.arguments[1];\nmsg.payload = 'python3 /root/paladins/send_match.py ' + chatId + ' ' + player + ' ' + match;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 670,
    "y": 1340,
    "wires": [
        ["773158.62f4eea8"]
    ]
}, {
    "id": "773158.62f4eea8",
    "type": "exec",
    "z": "b0e01f57.eabd2",
    "command": "",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Paladins Player Script Call",
    "x": 940,
    "y": 1340,
    "wires": [
        [],
        ["c5a67396.4dc72"],
        []
    ]
}, {
    "id": "ed8f35b.cdb89c8",
    "type": "link in",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["2ccfed9d.1a9982"],
    "x": 155,
    "y": 1280,
    "wires": [
        ["25d5b897.adb7c8"]
    ]
}, {
    "id": "c5a67396.4dc72",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1150,
    "y": 1340,
    "wires": []
}, {
    "id": "b7d0580.fc447a8",
    "type": "debug",
    "z": "b0e01f57.eabd2",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 630,
    "y": 1260,
    "wires": []
}, {
    "id": "4857995.b84c568",
    "type": "chatbot-waiting",
    "z": "b0e01f57.eabd2",
    "waitingType": "",
    "x": 620,
    "y": 1300,
    "wires": [
        ["4101669e.b13978"]
    ]
}, {
    "id": "4101669e.b13978",
    "type": "link out",
    "z": "b0e01f57.eabd2",
    "name": "",
    "links": ["34744207.dcfe0e"],
    "x": 715,
    "y": 1300,
    "wires": []
}, {
    "id": "4c2b48e1.4a0c88",
    "type": "chatbot-telegram-node",
    "z": "",
    "botname": "PaladinsBot",
    "usernames": "",
    "providerToken": "",
    "polling": "500",
    "store": "6812d232.f01d7c",
    "log": "",
    "parseMode": "Markdown",
    "debug": true
}, {
    "id": "6812d232.f01d7c",
    "type": "chatbot-context-store",
    "z": "",
    "name": "PaladinsDataBot",
    "contextStorage": "memory",
    "contextParams": ""
}]